@font-face {
  font-family: "Nohemi Light";
  src: url(../fonts/Nohemi-Light.woff2);
}

@font-face {
  font-family: "Nohemi Regular";
  src: url(../fonts/Nohemi-Regular.woff2);
}

@font-face {
  font-family: "Nohemi SemiBold";
  src: url(../fonts/Nohemi-SemiBold.woff2);
}

:root {
  --dark-grey: #272628;
  --darkish-grey: #313131;
  --light-grey: #dddddd;
  --pastel-orange: #ffcb7d;
  --ice-blue: #99c5ff;
  --white: #f6efed;
  --pastel-red: #ff7d7d;
  --status-pulse-green: #00bf63;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  font-family:
    "Nohemi Light",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  background-color: var(--white);
}

section {
  /* make each section cover full page */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--white);
  transition: background-color 0.3s;
}

section#landing .container {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  padding: 6rem;
  color: var(--dark-grey);
  background-color: var(--white);
  transition:
    background-color 0.3s,
    color 0.3s;
}

section#landing .hero-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5rem;
}

section#landing .hero-content h1 {
  font-size: 8em;
  letter-spacing: 0.5rem;
  animation: fadeInUp 1s ease-in forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

section#landing .hero-content .asterisk-fat {
  background-color: var(--dark-grey);
  width: 10rem;
  max-width: 10rem;
  min-width: 2rem;
  aspect-ratio: 1/1;
  transition:
    transform 0.3s,
    background-color 0.3s;
  /* height: 4rem; */

  -webkit-mask-image: url("../assets/asterisk-fat.svg");
  mask-image: url("../assets/asterisk-fat.svg");
}

.masked-icon {
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
}

section#landing .hero-content .asterisk-fat:hover {
  transform: rotate(30deg);
}

section#landing .hero-nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
}

section#landing .hero-nav li {
  display: flex;
  align-items: center;
  font-size: 2rem;
  gap: 0.8rem;
}

section#landing .hero-nav a {
  color: var(--dark-grey);
  transition: color 0.3s;
  position: relative;
}

section#landing .hero-nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 3px;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-out;
}

section#landing .hero-nav li:hover a::after {
  transform: scaleX(1);
}

section#landing .hero-nav .asterisk-thin {
  background-color: var(--dark-grey);
  width: 1.5rem;
  aspect-ratio: 1/1;
  margin-bottom: 0.2rem; /* HACK: debug middle baseline */
  transition: background-color 0.3s;

  -webkit-mask-image: url("../assets/asterisk-thin.svg");
  mask-image: url("../assets/asterisk-thin.svg");
}

section#landing .hero-status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}

.scroll-down {
  /* for all scroll down indicators */
  background-color: var(--dark-grey);
  width: 4rem;
  margin-left: -1rem; /* HACK: not aligning with left margin */
  aspect-ratio: 1/1;
  transition: background-color 0.3s;

  -webkit-mask-image: url("../assets/scroll-down.svg");
  mask-image: url("../assets/scroll-down.svg");
}

section#landing .hero-status div {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  flex-shrink: 0;
}

.status-pulse {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-color: var(--status-pulse-green);
  border-radius: 50%;
  position: relative; /* Needed for the ::before pseudo-element ripple */
  animation: status-pulse-dot 2s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    infinite;
}

/* Outer ripple effect */
.status-pulse::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--status-pulse-green);
  border-radius: 50%;
  z-index: -1; /* Place it behind the main dot */
  animation: status-pulse-ripple 2s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    infinite;
}

/* Keyframes for the dot's breathing (scaling) */
@keyframes status-pulse-dot {
  0% {
    transform: scale(0.7);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(0.7);
  }
}

/* Keyframes for the ripple (expanding shadow/element) */
@keyframes status-pulse-ripple {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }
  100% {
    transform: scale(3.5);
    opacity: 0;
  }
}

section#about .container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 2rem 4rem;
  background-color: var(--white);
  color: var(--dark-grey);
}

section#about .about-content {
  display: flex;
  justify-content: center;
  gap: 8rem;
  flex-wrap: wrap;
  padding: 0 6rem;
}

/* About me image hover effect */
section#about .about-image-container {
  position: relative;
  flex-shrink: 0;
  width: 450px;
}

section#about .about-image-container .about-image {
  max-width: 100%;
  display: block;
}

section#about .about-image-container .about-image.color {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

section#about .about-image-container:hover .about-image.color {
  opacity: 1;
}

section#about .about-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8rem;
  font-size: 2rem;
  flex-basis: 2rem;
  flex-grow: 1;
}

section#about .skills-link {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  align-self: flex-end;
}

section#about .about-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  padding: 0 6rem 6rem;
  justify-content: space-between;
}

section#about .skills-category {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: auto;
}

section#about .skills-category div {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

section#about .skills-category div h3 {
  font-size: 1.5rem;
}

section#about .skills-category .asterisk-fat {
  background-color: var(--dark-grey);
  width: 1.5rem;
  aspect-ratio: 1/1;
  margin-bottom: 0.5rem; /* HACK: debug middle baseline */
  transition: background-color 0.3s;

  -webkit-mask-image: url("../assets/asterisk-fat.svg");
  mask-image: url("../assets/asterisk-fat.svg");
}

section#about .skills-category ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

section#about .skills-category .horizontal-line {
  height: 3px;
  max-width: 50%; /* FIXME: size extending too much */
  background-color: var(--light-grey);
  transition: background-color 0.3s;
}

section#about .skills-category li {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

section#about .skills-category li img {
  width: 2rem;
  padding-bottom: 0.2rem; /* HACK: debug middle baseline */
}

section#projects {
  background-color: var(--white);
  color: var(--pastel-orange);
  transition: background-color 0.3s;
}

section#projects.projects-visible {
  background-color: var(--dark-grey);
}

section#projects .container {
  padding: 2rem 4rem;
}

section#projects .projects-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 6rem;
}

section#projects .projects-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 2rem;
}

section#projects .scroll-down {
  background-color: var(--pastel-orange);
}

section#projects .projects-card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 6rem;
  width: 100%;
}

section#projects .projects-card-container:first-child {
  padding-bottom: 6rem;
}

section#projects .projects-card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1 1 45%; /* take as much space as possible, but show 2 cards */
}

section#projects .image-container {
  width: 100%; /* take as much space as possible, but show 2 cards */
  overflow: hidden;
}

section#projects .image-container img {
  width: 100%;
  transition: transform 0.3s ease-out;
}

section#projects .image-container:hover img {
  transform: scale(1.05);
}

section#projects .projects-info {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 1.05rem;
}

section#projects .projects-name {
  border: 0.2rem solid var(--pastel-orange);
  padding: 0.6rem 1.8rem; /* pill look */
  border-radius: 20rem; /* pill look */
}

section#projects .projects-year {
  margin-left: auto;
}

section#contact {
  background-color: var(--dark-grey);
  color: var(--pastel-orange);
}

section#contact .container {
  display: flex;
  flex-direction: column;
  padding: 2rem 4rem;
  gap: 16rem;
}

section#contact .contact-header h1 {
  font-size: 6rem;
  color: var(--ice-blue);
}

section#contact .contact-header div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.5rem;
  font-size: 2rem;
  padding-top: 1rem;
}

section#contact .contact-header #copy-email-btn {
  border: 0.2rem solid var(--pastel-orange);
  padding: 0.6rem 1.8rem; /* pill look */
  border-radius: 20rem; /* pill look */
  background-color: var(--dark-grey);
  color: var(--pastel-orange);
  font-size: 1.2rem;
}

/* Dynamic email copy button */
section#contact .email-container #copy-email-btn {
  opacity: 0;
  transition: opacity 0.3s ease;
}

section#contact .email-container:hover #copy-email-btn {
  opacity: 1;
}

section#contact .contact-socials {
  display: flex;
  gap: 2.5rem;
  font-size: 2rem;
}

section#contact .contact-socials > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

section#contact .contact-socials a {
  color: var(--pastel-orange);
}

section#contact .contact-socials .asterisk-fat {
  background-color: var(--ice-blue);
  width: 1.8rem;
  aspect-ratio: 1/1;
  margin-bottom: 0.2rem; /* HACK: debug middle baseline */

  -webkit-mask-image: url("../assets/asterisk-fat.svg");
  mask-image: url("../assets/asterisk-fat.svg");
}

/* Social links hover effect */
section#contact .contact-socials a {
  position: relative;
}

section#contact .contact-socials a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 3px;
  background-color: var(--pastel-orange);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-out;
}

section#contact .contact-socials div:hover a::after {
  transform: scaleX(1);
}

section#contact .contact-socials .asterisk-fat {
  transition: transform 0.3s ease-out;
}

section#contact .contact-socials div:hover .asterisk-fat {
  transform: translateX(0.3em);
}

section#contact .contact-socials .heart {
  background-color: var(--pastel-red);
  width: 2rem;
  aspect-ratio: 1/1;
  margin-bottom: 0.2rem; /* HACK: debug middle baseline */

  -webkit-mask-image: url("../assets/heart.svg");
  mask-image: url("../assets/heart.svg");
}

section#contact .contact-socials footer {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* Swipe Transition */
.swipe-transition-1,
.swipe-transition-2 {
  position: fixed;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  transform: translateZ(0); /* Prevent scrolling with page */
  visibility: hidden;
}

.swipe-transition-1 {
  background-color: var(--pastel-orange);
}

.swipe-transition-2 {
  background-color: var(--ice-blue);
}

body.is-transitioning .swipe-transition-1 {
  animation: swipe-up 1.2s cubic-bezier(0.65, 0, 0.35, 1) forwards;
}

body.is-transitioning .swipe-transition-2 {
  animation: swipe-up 0.9s cubic-bezier(0.65, 0, 0.35, 1) 0.2s forwards;
}

@keyframes swipe-up {
  0% {
    top: 100%;
  }
  50% {
    top: 0;
  }
  100% {
    top: -100%;
  }
}

/* Color Inversion Styles */
body.inverted section#landing .container,
body.inverted section#about .container {
  /* FIXME: different sections changing at different speeds */
  background-color: var(--dark-grey);
  color: var(--ice-blue);
}

body.inverted section,
body.inverted section#projects {
  background-color: var(--dark-grey);
}

body.inverted section#landing .hero-nav a {
  color: var(--pastel-orange);
}

body.inverted section#about .skills-category .horizontal-line {
  background-color: var(--darkish-grey);
}

body.inverted section#landing .hero-content .asterisk-fat,
body.inverted section#landing .hero-nav .asterisk-thin,
body.inverted section#about .skills-category .asterisk-fat,
body.inverted .scroll-down {
  background-color: var(--ice-blue);
}
